streamlit
pandas
numpy== 1.26.4
matplotlib
seaborn
scikit-learn
statsmodels
scipy
pingouin
dominance-analysis== 1.1.9
plotly
bokeh==2.4.3
pygments== 2.19.1
markdown-it-py= 3.0.0
mdurl==0.1.2
rich== 13.9.4
